/* #xcv {
    color:blue
}

.zx {
    color:red
} */

/* button {
   background-color:rgba(0, 128, 128, 0.745); */
   /* font-size: 30px;
   font-width: 30px;
    */


/* p { */ */
    /* text-align:center;
} */
/* h1 {
    text-align: center;
    color: dodgerblue;
} */


/* h1  {
    text-decoration:underline;
} */
/* a {
    text-decoration: none;

}

#h1 {
    font-weight: normal;
}
#h2 {
    font-weight: lighter;
}
#h3 {
    font-weight: bold;
}

p {
    font-family: Arial;
}
q {
    font-family: cursive;
} */
/* 
#h1 {
    font-size: 23px;

}
#h2 {
    font-size: 32px;
}

#h3 {
    font-size: 45px;
}

p {
    line-height: 32px;
    text-transform: uppercase;
}
q {
    line-height: 32px;
    text-transform: capitalize;
} */

/* h1 {
    text-transform: capitalize;
    text-align: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
} */
 /* #mk {
    font-size: 25px;
 }
 #mkl {
    font-size: 10px;
 } */

 /* div {
    height: 18px;
    width: 80px;
 }
 button {
    border-width: 20px;
    border-style:groove; */


 